.container {
    background: black;
    color: #00ff00;
    font-family: 'Press Start 2P', monospace;
    
    
    display: flex;
    justify-content: center;
    align-items: flex-start;

    overflow-y: hidden;
    
    


    /* border: 2px solid #ff69b4; */
}

.terminal {
    position: relative; 
    border: 3px solid #00ff00;
    padding: 10px;
   
    width: 95%;
    max-width: 35rem;
    height: auto;
    margin: auto;
   /*  padding-bottom: 2rem; */
   
    box-shadow: 0 0 15px #00ff00;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
  
}



.ascii {
    font-size: 0.4rem;
    color: #00ff00;
    line-height: 1.5;
    text-align: center;
    display: block;
    max-width: 100%;
    margin: 10px 0;
}


.button-container {
   /* 
    */
    margin-top: 1rem;
    margin-bottom: 0;
    position: static;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   /*  width: 95%;
    max-width: 1400px;
    min-height: 5rem; */
    gap: 10px;
    /* height: 10rem; */
    
    /* border-radius: 5px; */

    
    
}

.button-container button {
    width: 140px;
    height: 45px;
    margin: 5px;
    font-size: 0.6rem;
   /*  background-color: #000; */
    /* color: #00ff00; */
   /*  border: 2px solid #00ff00; */
   /*  border-radius: 5px; */
    font-family: 'Press Start 2P', monospace;
    cursor: pointer;
    display: none;
}

.button-container button:hover {
    background-color: #00ff00;
    color: #000;
    box-shadow: 0 0 10px #00ff00;
}




.terminal-output {
    font-size: 0.6rem;
    color: #00ff00;
    white-space: pre-wrap;
    padding: 1rem;
  }
 
.cursor{
    display: inline-block;
    animation: blink 0.6s steps(1, start) infinite;
    color: #00ff00;
}


