.container {
    background: black;
    color: #00ff00;
    font-family: 'MyFont-1';
    
    
    display: flex;
    justify-content: center;
    align-items: center;

    overflow-y: hidden;
    
    height: 100vh;
    width: 100vw;


    /* border: 2px solid #ff69b4; */
}

.terminal {
    position: relative;
    border: 3px solid #00ff00;
    padding: 10px;
   
    width: 95%;
    max-width: 35rem;
    height: 95%;
    margin: auto;
   /*  padding-bottom: 2rem; */
   
    box-shadow: 0 0 15px #00ff00;
    display: flex;
    flex-direction: column;
    border-radius: 10px;

    overflow: hidden;

    
  
}

.terminal-content{
    flex: 1;
   
    min-height: 0;
   
}

.ascii {
    font-size: 0.4rem;
    color: #00ff00;
    line-height: 1.5;
    text-align: center;
    display: block;
    max-width: 100%;
    margin: 10px 0;
}


.button-container {
    font-family: 'MyFont-1';
    /* position: absolute; */

    margin-top: 0.5rem;
    margin-bottom: 1rem;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    max-width: 25rem;
    min-width: 20rem;
    min-height: 5rem;
    gap: 10px;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
    flex-shrink: 0;
   
    
   

    
    
}

.button-container button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: calc(50% - 15px);
    height: 45px;
    margin: 5px;
    font-size: 0.9rem;
    flex-grow: 0;
    flex-shrink: 0;
    font-family: 'MyFont-1';
    cursor: pointer;
   /*  display: none; */
}

.button-container button:hover {
    background-color: #00ff00;
    color: #000;
    box-shadow: 0 0 10px #00ff00;
}




.terminal-output {
    font-size: 0.6rem;
    color: #00ff00;
    white-space: pre-wrap;
    padding: 1rem;
  }
 
.cursor{
    display: inline-block;
    animation: blink 0.6s steps(1, start) infinite;
    color: #00ff00;
}


