.rexico-city {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: 100%;
  padding: 1rem;
  background-size: cover;
  background-position: center;
  background-color: #c0c0c093;
  box-sizing: border-box;
  gap: 1rem;
 /*  border: solid pink; */
}

.rexico-city h2 {
  font-size: 0.8rem;
  margin: 0;
  padding: 8px;
  color: black;
  
  line-height: 1;
  /* background-color: rgba(143, 208, 255, 0.904); */
}

.rexico-city h4 {
  font-size: 0.8rem;
  line-height: 1;
  font-family: "MS Sans Serif", sans-serif;
  color: black;
  margin: 0 0 8px 0;
  align-self: flex-start;
  
  
}

.rexico-city li {
  font-size: 11px;
  font-family: "MS Sans Serif", sans-serif;
  margin-bottom: 4px;
  padding-left: 16px;
  position: relative;
  align-self: flex-start;
  line-height: 1.5;
  width: 100%;
}



.tech-description{
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 30rem;
  width: 60rem;
  
  overflow-y: hidden;
  /* border: solid pink; */
}


.rexico-img img {
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
   height: auto;
  width: 20rem;
   cursor: pointer;
   object-fit: contain;
}

.rexico-img img:hover {
  border-color: #000080 #87ceeb #87ceeb #000080;
}






