body, html {
  margin: 0;
  padding: 0;
  height: 99%;
  overflow: hidden;
  box-sizing: border-box;
}

* {
  box-sizing: inherit;
}

.terminal-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  
  
  height: 95vh;
  width: 95vw;
  padding: 1rem;

  border: 2px solid pink; 
 
  }

.the-tv{
  display: flex;
  justify-content: center;

  height: 100%;
  width: 100%;
   /*  max-width: 55rem; */
    

  border: 2px solid pink; 
  }

.tv-container {
  width: 100%;
  height: 30rem;
  aspect-ratio: 1.375; 
  background-color: #000; 
  border: 2px solid #000;
  border-radius: 0.5rem; 
  overflow: hidden;
  position: relative;

    /* border: 2px solid pink;  */
  }

  .tv-casing{
    width: 100%;
    height: 100%;
    background-color: #262626; 
    border-radius: 0.5rem;
    padding: 1.25rem; 
    padding-bottom: 3rem; 
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04); 
    border-top: 1px solid #404040; 

    /* border: 2px solid pink;  */
  }
  
  
  
.tv-terminal-content {
    position: relative;
    height: 100rem;
    /* max-height: 50rem; */
    padding: 0.75rem; 
    /* overflow-y: auto; */
    font-family: monospace;
    font-size: 0.875rem;
    line-height: 1.25rem;
    color: #22c55e;
    text-shadow: 0 0 5px rgba(0, 255, 0, 0.5);

   /* border: 2px solid pink;  */

    
  }


  .tv-terminal-content::after {
  content: "";
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background: repeating-linear-gradient(
    to bottom,
    rgba(0, 255, 0, 0.05),
    rgba(0, 255, 0, 0.05) 1px,
    transparent 1px,
    transparent 2px
  );
  pointer-events: none; 
  z-index: 1;
}


 


  .project-image {
    height: 15rem;
    width: 23rem;
  }
  
  .available-command{
    cursor: pointer;
  }
  

/* @media (min-width: 1024px) {
  .tv-container {
    width: 55rem;
  }
  .the-tv{
    max-width: 45rem;  
  }
  .tv-terminal-content {
    max-width:  35rem;
  }
}
 */

/* @media (max-width: 768px) {
  .terminal-wrapper {
    padding: 0.5rem;
  }
  
  .tv-container {
    border-radius: 0.25rem;
  }
}

.the-tv{
 
  max-width: 55rem; 
}


.tv-terminal-content {  
  max-width:  40rem; 
} */






/* @media (max-width:560px) {
  
  .the-tv {
    width: 75%;
    height: 75%; 
  }
  .tv-container {
    width: 18rem;
    height: 500px;
    border-radius: 0.25rem;
    border-width: 1px;    
  }
  .tv-terminal-content {
    width: 100%;
   
    max-height: 460px;
    padding: 0rem;
    font-size: 0.75rem;   
  }
  
  .project-image {
    width: 320px;
    height: auto;
  }
  
  .terminal-wrapper {
    max-height: 90vh;
    padding: 0.25rem;
  }

} */

